---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<HIDDEN_KEY>&lat=35.07&lon=-106.6&radius=10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 0b380350-d575-4544-bb25-9acb24b85204
      X-Apigee.target-Latency:
      - '52'
      X-Tomtom-Processed-By:
      - westus2
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":49,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":35.07,"lon":-106.6}},"results":[{"type":"POI","id":"E2UU01qb6o_7iFZVEyLXag","score":99.3306121826,"dist":669.382247,"info":"search:ta:840359000644797-US","poi":{"name":"Prosperity
        Bank","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4420","streetName":"Zuni Road Southeast","municipalitySubdivision":"Parkland
        Hills","municipality":"Albuquerque","countrySecondarySubdivision":"Bernalillo","countrySubdivision":"NM","countrySubdivisionName":"New
        Mexico","countrySubdivisionCode":"NM","postalCode":"87108","extendedPostalCode":"87108-2844","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"4420 Zuni Road Southeast,
        Albuquerque, NM 87108","localName":"Albuquerque"},"position":{"lat":35.074343,"lon":-106.594906},"viewport":{"topLeftPoint":{"lat":35.07524,"lon":-106.596},"btmRightPoint":{"lat":35.07344,"lon":-106.59381}},"entryPoints":[{"type":"main","position":{"lat":35.0746,"lon":-106.59482}}]},{"type":"POI","id":"SP_XSCh6xu40i6etEc6HHA","score":99.3225097656,"dist":677.485987,"info":"search:ta:840359000656006-US","poi":{"name":"Lynk
        Systems","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"4212","streetName":"Coal Avenue
        Southeast","municipalitySubdivision":"N[...]
